*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
brakeman.html
rails_best_practices_output.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/assets/
/public/system/*
/public/uploads/*
/coverage
/spec/tmp/*
**.orig
config/database.yml
config/newrelic.yml
config/deploy.rb
coverage
*.tmproj
*.sw?
*.cache
*.log
*.pid
rerun.txt
pickle-email-*.html
