#flash_message {
	width: 100%;
  .flash-close-icon-success, .flash-close-icon-fail {
	cursor: pointer;
	display: block;
	height: 16px;
	width: 16px;
	float: right;
	position: relative;
	top: 0px;
	right: 3px;
  }
}

/* Alerts */

#main h4 {
&.alert_info {
	display: block;
	margin: 20px 38px 10px 40px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #B5E5EF asset-url("admin/icn_alert_info.png", image) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #005DA2;
	color: #082B33;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;}

&.alert_warning {
	display: block;
	margin: 20px 38px 10px 40px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5F3BA asset-url("admin/icn_alert_warning.png", image) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #C7A20D;
	color: #796616;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;}

&.alert_error {
	display: block;
	margin: 20px 38px 10px 40px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 asset-url("admin/icn_alert_error.png", image) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #D20009;
	color: #7B040F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;}

&.alert_success {
	display: block;
	margin: 20px 38px 10px 40px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #E2F6C5 asset-url("admin/icn_alert_success.png", image) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #79C20D;
	color: #32510F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;}
}

.alert_success .page_name {
	color: #000;
}

.flash-close-icon-success, .flash-close-icon-fail {
	cursor: pointer;
	display: block;
	height: 16px;
	width: 16px;
	float: right;
	position: relative;
	top: -5px;
	right: 5px;
}

.flash-close-icon-success {
	background: asset-url("admin/flash-close-icon-success.png", image) no-repeat;
}

.flash-close-icon-fail {
	background: asset-url("admin/flash-close-icon-fail.png", image) no-repeat;
}
