<div class="breadcrumbs_container">
  <article class="breadcrumbs">
  	<% if controller.action_name == "index" %>
  		<a class="current"><%= controller.controller_name.titleize %></a>
  		<div class="breadcrumb_divider"></div>
  	  	<a class="current">All</a>
  	<% else %>
  	  	<%= link_to "#{controller.controller_name.titleize}", eval("admin_#{controller.controller_name}_path"), :class => "current" %> 
  	  	<div class="breadcrumb_divider"></div>
  	  	<a class="current"><%= controller.action_name.titleize %> <%= controller.controller_name.titleize.singularize %></a>
  	<% end %>
  </article>
</div>