
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Onoma apo ti vasi (eg. swimming.jpg)</title>
 </head>
 <body>
<!--  	<img src="https://www.google.gr/logos/2012/swimming-2012-hp.jpg"> --> 	<a href="system/uploads/uploads/000/000/019/original/581155_10150977132394521_1011280136_n.jpeg">vfv</a> 	
</body></html>